@use "../fonts" as font;
@use "../breakpoints" as bp;
@use "../colors" as color;

.forum-container {
  margin: 0;
  display: flex;
  align-items: center;
  color: color.$bandsite-black;
  background-color: color.$white;
}

.forum {
  display: flex;
  flex-direction: column;
  @include bp.mobile {
    margin: 0 4rem;
  }

  &__title {
    @include bp.mobile {
      margin: 5rem 0 3rem 0;
      font-size: 6rem;
      font-weight: 600;
      align-self: flex-start;
    }
  }

  &__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include bp.mobile {
      margin-top: 1.5rem;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid color.$mercury;
    @include bp.mobile {
      width: 100%;
      height: 64rem;
    }
  }

  &__form-dp {
    img {
      border-radius: 50%;
      @include bp.mobile {
        margin-top: 4.8rem;
        width: 9.5rem;
        height: 9.5rem;
      }
    }

    @include bp.mobile {
      width: 18%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include bp.mobile {
      width: 82%;
    }
  }

  &__input-name {
    display: flex;
    flex-direction: column;

    &-box {
      // change placeholder color
      border: 1.3px solid color.$mercury;
      background-color: color.$alabaster;
      height: 8.5rem;
      border-radius: 4px;
      padding: 2rem;
      font-size: 3rem;
    }
  }
  &__input-comment {
    display: flex;
    flex-direction: column;
    &-box {
      // align place holder to top of input box
      // change placeholder color
      border: 1.3px solid color.$mercury;
      background-color: color.$alabaster;
      height: 23rem;
      border-radius: 4px;
      padding: 2rem;
      font-size: 3rem;
    }
  }
  &__input-label {
    color: color.$silver;
    font-weight: 600;

    @include bp.mobile {
      font-size: 2.5rem;
      margin-bottom: 1.7rem;
    }
  }

  &__input-btn {
    button {
      background-color: color.$bandsite-black;
      border: none;
      border-radius: 4px;
      height: 10rem;
      width: 100%;
      color: color.$white;
      font-size: 4rem;
    }

    @include bp.mobile {
      margin-bottom: 4rem;
    }
  }
}
