@use "../fonts" as font;
@use "../breakpoints" as bp;
@use "../colors" as color;

.hero {
  background: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.47),
      rgba(52, 52, 52, 0.295)
    ),
    url("../../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 60vw;
  opacity: rgba(128, 128, 128, 0.5);
  display: flex;
  align-items: center;

  @include bp.desktop {
    justify-content: center;
    height: 48vw;
  }

  &__title {
    color: color.$white;
    font-weight: 600;

    @include bp.mobile {
      font-size: 6rem;
      margin-left: 4rem;
    }

    @include bp.tablet {
      font-size: 14.5rem;
      margin-left: 14rem;
    }

    @include bp.desktop {
      margin: 0;
      padding-left: 30rem;
      font-size: 16rem;
      width: 340rem;
    }
  }
}
