@use "../fonts" as font;
@use "../breakpoints" as bp;
@use "../colors" as color;

.nav-container {
  background-color: color.$bandsite-black;
}

.nav {
  display: flex;
  align-items: center;

  @include bp.mobile {
    flex-direction: column;
    justify-content: center;
  }

  @include bp.tablet {
    justify-content: flex-start;
    line-height: 16rem;
    margin: 0 9rem;
  }

  @include bp.desktop {
    margin: 0 auto;
    padding: 0 30rem 0 30rem;
    justify-content: flex-start;
    line-height: 21rem;
    max-width: 340rem;
  }

  &__logo {
    a {
      @include bp.tablet {
        display: flex;
        align-items: center;
      }
    }

    @include bp.mobile {
      padding: 4rem 4rem 3rem 4rem;
    }

    @include bp.tablet {
      margin-right: 18rem;
    }

    @include bp.desktop {
      margin-right: 18rem;
    }
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    @include bp.mobile {
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__links-item {
    text-align: center;

    a {
      text-decoration: none;
      color: color.$mercury;
    }

    @include bp.mobile {
      font-size: 3.2rem;
      padding-bottom: 4rem;
      width: 50vw;
    }

    @include bp.tablet {
      font-size: 3.5rem;
      margin-right: 12rem;
    }

    @include bp.desktop {
      font-size: 3.5rem;
      margin-right: 8rem;
    }
  }

  &__links-item:hover,
  &__links-item:focus,
  &__links-item--active {
    color: color.$white;
    font-weight: 600;
    border-bottom: 0.8rem solid color.$white;
  }
}
