/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-next-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-next-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/avenir-next-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* media query for mobile */
/* media query for tablet */
/* media query for desktop */
/* Primary Colors */
/* Secondary Colors */
.nav-container {
  background-color: #323232;
}

.nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    justify-content: flex-start;
    line-height: 16rem;
    margin: 0 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav {
    margin: 0 auto;
    padding: 0 30rem 0 30rem;
    justify-content: flex-start;
    line-height: 21rem;
    max-width: 340rem;
  }
}
@media only screen and (min-width: 768px) {
  .nav__logo a {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .nav__logo {
    padding: 4rem 4rem 3rem 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 18rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__logo {
    margin-right: 18rem;
  }
}
.nav__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .nav__links {
    justify-content: space-evenly;
    align-items: center;
  }
}
.nav__links-item {
  color: #e1e1e1;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .nav__links-item {
    font-size: 3.2rem;
    padding-bottom: 4rem;
    width: 50vw;
  }
}
@media only screen and (min-width: 768px) {
  .nav__links-item {
    font-size: 3.5rem;
    margin-right: 12rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__links-item {
    font-size: 3.5rem;
    margin-right: 8rem;
  }
}
.nav__links-item--active {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 0.8rem solid #ffffff;
}

.hero {
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.47), rgba(52, 52, 52, 0.295)), url("../../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 60vw;
  opacity: rgba(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .hero {
    justify-content: center;
    height: 48vw;
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .hero__title {
    font-size: 6rem;
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 14.5rem;
    margin-left: 14rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    margin: 0;
    padding-left: 30rem;
    font-size: 16rem;
    width: 340rem;
  }
}

.about-container {
  color: #323232;
  background-color: #ffffff;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .about {
    margin: 0 4rem 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    margin: 0 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    margin: 0 auto;
    max-width: 340rem;
  }
}
@media only screen and (max-width: 767px) {
  .about__title {
    margin: 5rem 0 3rem 0;
    font-size: 6rem;
    font-weight: 600;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .about__title {
    margin: 10rem 0 6rem 0;
    font-size: 9.3rem;
    font-weight: 600;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .about__title {
    display: flex;
    justify-content: flex-start;
    margin: 12rem 0 9rem 0;
    padding-left: 30rem;
    font-size: 9.5rem;
  }
}
.about__image {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .about__image {
    margin: 0 0 4rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .about__image {
    padding: 0 15rem;
    margin: 0 0 9rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about__image {
    font-size: 14rem;
    width: 242rem;
  }
}
.about__quote {
  margin: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .about__quote {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote {
    padding: 0 15rem;
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote {
    margin: 0 auto;
    font-size: 5.5rem;
    width: 242rem;
  }
}
@media only screen and (max-width: 767px) {
  .about__quote-text {
    margin: 0 0 1rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .about__quote-text {
    margin: 0 0 3rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote-text {
    width: 165rem;
  }
}
.about__quote-author {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__quote-author {
    font-size: 4rem;
  }
}
.about__band {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .about__band {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__band {
    padding: 0 15rem;
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about__band {
    margin: 0 auto;
    font-size: 3rem;
    width: 242rem;
  }
}
.about__band-title {
  color: #000000;
}
@media only screen and (max-width: 767px) {
  .about__band-title {
    margin: 7rem 0 4.5rem 0;
    font-size: 3.6rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 768px) {
  .about__band-title {
    margin: 12rem 0 6rem 0;
    font-size: 6.2rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .about__band-title {
    margin: 12rem 0 6rem 0;
    font-size: 6.2rem;
    font-weight: 600;
  }
}
.about__band-div {
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .about__band-div {
    font-size: 3.3rem;
  }
}
@media only screen and (min-width: 768px) {
  .about__band-div {
    line-height: 1.7;
    font-size: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .about__band-div {
    line-height: 1.5;
    font-size: 3.8rem;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .about__band-text {
    margin: 0 5rem 9rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .about__band-text {
    margin: 0 6rem 8rem 0;
  }
}

.gallery-container {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #fafafa;
}

.gallery {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .gallery {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery {
    margin: 0 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    margin: 0 auto;
    padding: 0 30rem 0 30rem;
    max-width: 340rem;
  }
}
.gallery__title {
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .gallery__title {
    margin: 5rem 0 3rem 0;
    font-size: 6rem;
    font-weight: 600;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__title {
    margin: 10rem 0 6rem 0;
    font-size: 9.3rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__title {
    margin: 12rem 0 9rem 0;
    font-size: 9.5rem;
  }
}
.gallery__display {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .gallery__display {
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__display {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__display {
    margin-bottom: 4rem;
  }
}
.gallery__photo {
  filter: grayscale(100%);
}
.gallery__photo:hover {
  filter: grayscale(0%);
}
@media only screen and (max-width: 767px) {
  .gallery__photo {
    width: 100%;
    margin-bottom: 4.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__photo {
    width: 31%;
    margin-bottom: 3.5%;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__photo {
    width: 31.8%;
    margin-bottom: 2.5%;
  }
}

.forum-container {
  margin: 0;
  display: flex;
  align-items: center;
  color: #323232;
  background-color: #ffffff;
}

.forum {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .forum {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum {
    margin: 0 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .forum {
    margin: 0 auto;
    padding: 0 30rem 0 30rem;
    max-width: 340rem;
  }
}
.forum__title {
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .forum__title {
    margin: 5rem 0 3rem 0;
    font-size: 6rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .forum__title {
    margin: 10rem 0 6rem 0;
    font-size: 9.3rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__title {
    margin: 12rem 0 6rem 0;
    font-size: 9.5rem;
  }
}
.forum__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .forum__display {
    margin-top: 1.5rem;
    margin-bottom: 4.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__display {
    padding: 0 15rem;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__display {
    padding: 0 68rem;
  }
}
.forum__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #e1e1e1;
}
@media only screen and (max-width: 767px) {
  .forum__form {
    height: 64rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__form {
    height: 73rem;
  }
}
@media only screen and (max-width: 767px) {
  .forum__form-dp {
    width: 20%;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__form-dp {
    width: 9%;
    display: flex;
    justify-content: center;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__form-dp {
    padding-left: 1rem;
  }
}
.forum__form-dp img {
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .forum__form-dp img {
    margin-top: 4.8rem;
    width: 9.5rem;
    height: 9.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__form-dp img {
    margin-top: 8.1rem;
    width: 12rem;
    height: 12rem;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__form-dp img {
    width: 13rem;
    height: 13rem;
  }
}
.forum__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .forum__input {
    width: 82%;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input {
    width: 89.5%;
    margin-top: 3em;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__input {
    width: 87%;
  }
}
.forum__input-name {
  display: flex;
  flex-direction: column;
}
.forum__input-name-box {
  border: 1.3px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .forum__input-name-box {
    height: 8.5rem;
    padding: 2rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input-name-box {
    height: 12rem;
    padding: 3rem;
    font-size: 3.5rem;
  }
}
.forum__input-comment {
  display: flex;
  flex-direction: column;
}
.forum__input-comment-box {
  border: 1.3px solid #e1e1e1;
  background-color: #fafafa;
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .forum__input-comment-box {
    height: 23rem;
    padding: 2rem;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input-comment-box {
    height: 22rem;
    padding: 3rem;
    font-size: 3.5rem;
  }
}
.forum__input-label {
  color: #afafaf;
  font-weight: 600;
  margin-bottom: 1.7rem;
}
@media only screen and (max-width: 767px) {
  .forum__input-label {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input-label {
    font-size: 3rem;
  }
}
.forum__input-btn {
  display: flex;
  justify-content: flex-end;
}
.forum__input-btn button {
  background-color: #323232;
  border: none;
  border-radius: 4px;
  height: 10rem;
  color: #ffffff;
  font-size: 4rem;
}
@media only screen and (max-width: 767px) {
  .forum__input-btn button {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input-btn button {
    width: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .forum__input-btn {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__input-btn {
    margin-bottom: 6rem;
  }
}
.forum__comments {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}
@media only screen and (min-width: 768px) {
  .forum__comments {
    margin-bottom: 9rem;
  }
}
.forum__comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #e1e1e1;
}
@media only screen and (min-width: 768px) {
  .forum__comment {
    padding: 6.5rem 0 4rem 0;
  }
}
.forum__comment-dp {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .forum__comment-dp {
    width: 18%;
    padding-right: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__comment-dp {
    width: 9%;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__comment-dp {
    padding-left: 1rem;
  }
}
.forum__comment-dp-circle {
  background-color: #e1e1e1;
  border-radius: 50%;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .forum__comment-dp-circle {
    margin-top: 4rem;
    width: 9.5rem;
    height: 9.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__comment-dp-circle {
    width: 13rem;
    height: 13rem;
  }
}
.forum__comment-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #323232;
}
@media only screen and (max-width: 767px) {
  .forum__comment-data {
    width: 82%;
  }
}
@media only screen and (min-width: 768px) {
  .forum__comment-data {
    width: 89.5%;
  }
}
@media only screen and (min-width: 1280px) {
  .forum__comment-data {
    width: 87%;
  }
}
.forum__name-date {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .forum__name-date {
    margin-top: 4rem;
  }
}
.forum__name {
  margin: 0;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .forum__name {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__name {
    font-size: 3.5rem;
  }
}
.forum__date {
  margin: 0;
  color: #afafaf;
}
@media only screen and (max-width: 767px) {
  .forum__date {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .forum__date {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .forum__comment-text {
    font-size: 3.2rem;
  }
  .forum__comment-text p {
    margin: 2.5rem 0 3rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .forum__comment-text {
    font-size: 3.5rem;
  }
  .forum__comment-text p {
    margin: 2.5rem 0 3rem 0;
    line-height: 1.4;
  }
}

.footer-container {
  background-color: #323232;
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .footer {
    margin: 0 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    margin: 0 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    margin: 0 auto;
    padding: 0 30rem 0 30rem;
    max-width: 340rem;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer__main {
    margin-top: 10rem;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer__main-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .footer__main-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__main-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer__socials-title {
    margin: 6rem 0 4rem 0;
    font-size: 6.2rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .footer__socials-title {
    margin: 0 4% 0 0;
    font-size: 9rem;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__socials-title {
    margin: 0 7.7% 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer__socials-links {
    margin: 0 0 5rem 0;
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .footer__socials-link {
    margin-right: 7rem;
    width: 6rem;
    height: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__socials-link {
    vertical-align: baseline;
    margin-right: 6.5rem;
    width: 6rem;
    height: 6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__socials-link {
    margin-right: 6rem;
    width: 6rem;
    height: 6rem;
  }
}
.footer__logo--not-mobile a {
  align-self: flex-end;
}
@media only screen and (max-width: 767px) {
  .footer__logo--not-mobile {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo--not-mobile {
    width: 33%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .footer__contact {
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact {
    width: 100%;
    margin-top: 9rem;
    display: flex;
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__contact {
    width: 100%;
    margin-top: 9rem;
    display: flex;
    font-size: 3.5rem;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .footer__contact-card {
    font-size: 3.3rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact-card {
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__contact-card {
    margin-right: 7%;
  }
}
.footer__contact-name p {
  margin: 0;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .footer__contact-name {
    margin-bottom: 4.5rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact-name {
    margin-bottom: 6rem;
    line-height: 1.3;
    width: 100%;
  }
}
.footer__contact-address p {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .footer__contact-address {
    margin-bottom: 4.5rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact-address {
    margin-bottom: 6rem;
    line-height: 1.3;
    width: 100%;
  }
}
.footer__contact-email a {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .footer__contact-email {
    line-height: 1.3;
    margin-bottom: 6.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__contact-email {
    margin-bottom: 12rem;
    line-height: 1.3;
    width: 100%;
  }
}
.footer__logo--mobile a {
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .footer__logo--mobile {
    font-size: 9rem;
    margin: 2rem 0rem 2rem 0rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo--mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .footer__copy {
    font-size: 2.7rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__copy {
    font-size: 3.5rem;
    margin-bottom: 9rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__copy {
    font-size: 3.5rem;
    margin-bottom: 9rem;
  }
}

header {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=bio.css.map */